# Python
venv/
*.pyc
__pycache__/
*.py[cod]

# Environment
.env

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker (only logs, not whole Jenkins config)
docker/jenkins/